.directory-icon::before {
    content: '\1F4C1';
    margin-right: 10px;
}

.directory-text {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.directory-text:hover {
    text-decoration: underline;
}