.wissh-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.file-container {
    min-height: 10px;
    flex: 1;
    overflow-y: auto;
    background-color: white;
}

.gap {
    height: 10px;
}

.wissh-term-container {
    height: 100%;
    overflow-y: auto;
}

.resize-handle {
    position: absolute;
    width: 100%;
    height: 10px;
    top: -10px;
    background-color: #ccc;
    cursor: row-resize;
}